@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root{
    --primary-color-tulpa: #009399;
}

span{
    margin: 30px;
}
body{
    font-family: 'Roboto' !important;
    margin: 0;
    padding: 0;
}
a{
    color: #6c757d;
    font-size: small;
}
.w-100{
    width: 100%;
}
.login-button{
    background-color: var(--primary-color-tulpa);
    border-color: white;
}
.login-button:hover{
    background-color: #0c6b6e !important;
    border-color: white !important  ;
}
.login-title{
    text-align: center;
    font-family: 'Roboto';
}
.p-button{
    display:block;
}
.sign-in-button-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}
.forgot-password-div{
    display: flex;
    justify-content: flex-end;
    margin: -15px 30px 15px 0px;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
    background: url('./images/login-background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-div{
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}
